@import '~antd/dist/antd.css';

@bgcolor: #fff;

body {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: '微软雅黑';
  font-size: 16px;
  color: #333;
  background-color: @bgcolor;
}

a {
  color: #333;
  text-decoration: none;
}
